@media only screen and (min-width: 38rem) {
  #nav-button {
    display: none;
  }
  ul.menu-links,
  ul.menu-links.open {
    display: flex;
    justify-content: flex-end;
  }
  ul.menu-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  nav {
    grid-template-rows: 1fr;
  }
}

/* Main Content */
.container {
  margin: 0 auto;
  max-width: 1080px;
  background-color: #fff;
  font-family: Roboto, Helvetica, sans-serif;
} 
/* Directory page  */
.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #bed;
  text-align: center;
}

.menu button {
  padding: 1rem;
  font-weight: 700;
}

.template-section {
  display: none;
}
section p,
section h3,
section a {
  /* Apply to text elements in sections */
  word-wrap: break-word; /* For long words that don't naturally break */
  overflow-wrap: break-word; /* Alternative for similar effect */
}

section {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #eee;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
}

.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

.grid section > * {
  margin: 0.1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
  background-color: #bed;
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-weight: 600;
  font-size: smaller;
}

section a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}

img {
  height: 75px;
  max-width: 100%;
}